﻿@{
    ViewData["Title"] = "Home Page";
    int nb = 42;
}

<div class="text-center">
    <h1 class="display-4">Welcome Khun LY @(nb * 5)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Afficher un @@</p>
</div>

@*mon commentaire*@

@*boucle*@
@for(int i=0; i<5; i++)
{
    <p>Hello</p>
}

@*if*@
@if (nb > 55)
{
    <h1>@nb est plus grand 55</h1>
}
